.twhs_bg {
    background-image: url(../img/icons/twhs-bg.png);
    height: 600px;
    width: 400px;
    background-size: cover;"
}



/******/

.device {
    width:80%;
    height:300px;
    background-color:#111;
    position:relative;
    text-align:center;
    line-height:40px;
    margin:20px auto;
    border: 1px solid #555;

}