.twhs_bg {
    background-image: url(../img/icons/twhs-bg.png);
    height: 600px;
    width: 400px;
    background-size: cover;"
}

.animation-frame {
    width:90%;
    position:relative;
    text-align:center;
    line-height:40px;
    margin:20px auto;
}